
body {
    margin:0px;
    padding: 0px;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 30px;
    background-color: chartreuse;
}
#button-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: auto;
    border: 1px dashed red;
}

#button-grid div {

}

.calc-button {
    padding: 10px;
    text-align: center;
    border: 1px dotted lightblue;
    width: auto;
    background-color: rgb(169, 186, 202);
    height: auto;
}

.operator {
    background-color: darkgray;
}

#cancel {
    background-color:lightcoral;
}

#results {
    font-size:larger;
    font-style: oblique;
    text-align: center;
    background-color: cornsilk;
    padding: 10px 0px 10px 0px;
}